In [2]:
import pandas as pd
import os
import re

In [4]:
# Load the first CSV file
file_path = '../data/interim/2010.csv'  # Update this path to the location of your file
df_2010 = pd.read_csv(file_path)

# Display the first few rows to understand the structure
df_2010.head()

                Name Grade               School      Time
0  Delago, Christian    11               Shaker  15:07.11
1         Place, Sam    SR  Saratoga Springs HS  15:16.88
2       Libruk, Mike    11               Shaker  15:19.48
3   Pagano, Marshall    Sr            Niskayuna  15:23.05
4        Dorset, Ian    12         Shenendehowa  15:24.26

In [5]:
# Check for NA values
na_values = df_2010.isna().sum().sum()
print(f"Total NA values: {na_values}")

Total NA values: 42

In [6]:
# Check if the first column contains only names (assuming names are strings)
name_check = df_2010['Name'].apply(lambda x: isinstance(x, str)).all()
print(f"First column contains only names: {name_check}")

First column contains only names: True

In [7]:
# Define a pattern for valid grades
grade_pattern = re.compile(r'^(11|12|JR|SR|So|FR)$', re.IGNORECASE)

# Check if the second column contains only valid grades
grade_check = df_2010['Grade'].apply(lambda x: bool(grade_pattern.match(str(x)))).all()
print(f"Second column contains only valid grades: {grade_check}")

Second column contains only valid grades: False

In [8]:
# Check if the third column contains only school names (assuming school names are strings)
school_check = df_2010['School'].apply(lambda x: isinstance(x, str)).all()
print(f"Third column contains only school names: {school_check}")

Third column contains only school names: False

In [9]:
# Define a pattern for valid times
time_pattern = re.compile(r'^\d{1,2}:\d{2}\.\d{2}$')

# Check if the fourth column contains only valid times
time_check = df_2010['Time'].apply(lambda x: bool(time_pattern.match(str(x)))).all()
print(f"Fourth column contains only valid times: {time_check}")

Fourth column contains only valid times: False